body{
    font-family: "Open Sans",sans-serif;
    background-color: whitesmoke;
}

h2{
    background-color: lightcyan;
    padding: 5px;
    text-align: center;
}

div{
    background-color: darkcyan;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: white;
}